body {
	background-color:  #9400D3 ;
	font-family: Montserrat;
	text-align: center;
}
h1, h2, h3 {
font-family: "Montserrat", sans-serif;
color: red;
}
p {
	font-family: "Merriweather", sans-serif;
}

a {
color: black;
text-decoration: none;
transition: color 0.3s ease;
}
a:hover {
color: yellow;
text-decoration: none;
}

#container {
width: 75%;
margin: 0 auto;
text-align: center;
}

.card {
	background-color:#F0F8FF;
	border-radius: 6px;
    box-shadow: 10px 10px 5px pink;
}
.img-circle img{
	border-radius: 50%;
	margin-top: 30px;
	height: 250px;
}
.img-touch img {
	width: 251px;
}
button {
	background-color: pink;
	padding: 11px;
	margin-bottom: 5px;
	border: none;
	text-align: center;
	cursor: pointer;
	font-family: Montserrat, sans-serif;
}

.card ul > li {
display: inline-block;
width: 90px;
padding-left: 0px;
list-style: none;
margin: auto;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 8%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: #F0F8FF;
}

.navbar li {
    display: block;
    width: 60px;
    padding: 10px;
    margin-left: 15px;
 
}

